<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>schdulesage</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>schedulesage://show</string>
			</array>
		</dict>
	</array>
	<key>NSUserNotificationAlertStyle</key>
	<string>alert</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>We need to send you notifications about calendar events and updates.</string>
	<key>UNNotificationExtensionCategory</key>
	<string>calendar_event</string>
	<key>UNNotificationExtensionDefaultContentHidden</key>
	<false/>
	<key>UNNotificationExtensionDefaultSoundName</key>
	<string>default</string>
</dict>
</plist>
